@font-face {
    font-family: PunkNova;
    src: url('../fonts/BriskBristleBrush-OoLp.ttf');
}

:root{
    --container-bg-color: #772727;
    --text-base-color: #f4ebeb;
}

html, body{
    height:100%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    display: grid;
    grid-template-columns: .45fr 1fr;
    grid-template-rows: repeat(1fr);
    margin:0;
    padding:0;
}

.logo-area{
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.281), rgba(165, 165, 165, 0.322));
    background-image: url('../images/skatin.jpg');
    background-size: 35%;
    background-position: -5% 50%;
    background-attachment: fixed;
    height:100%;
    width: 100%;
    position: relative;
    border-color: rgba(0, 0, 0, 0.356);
    border-style: solid;
    box-sizing: border-box;
}

.modal {
    background-color: rgba(0, 0, 0, 0.616);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 17%;
    margin: 0;
    height:15%
}

.modal>h1{
    background: -webkit-linear-gradient(0deg, #A72626 30%, #672167);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(3px 3px black);
    font-size: 1.8rem;
    /* text-shadow: 2px 1px 2px black; */
    font-family: "PunkNova", sans-serif;
    letter-spacing: 1px;
}

.credits {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 0%;
    text-decoration: underline;
    text-decoration-color: azure;
}

.credits>a:visited, .credits>a{
    text-decoration: underline;
    color:azure;
    text-decoration-color: azure;
}

.sign-up-area {
    background-image: linear-gradient(45deg,
    rgba(8, 3, 3, 0.808),
    rgba(3, 12, 20, 0.849)), url('../images/asphalt.jpg');
}

.intro-container{
    position: relative;
    font-size: 1.2rem;
    top: 6%;
    width: 100%;
    background-color: #72252550;
    margin:0px;
}

.intro-text{
    background: -webkit-linear-gradient(var(--text-base-color), #dabccb);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 3%;
    width:80%;
    padding: 2% 0px;
}


.form-container{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height:100%;
    background: linear-gradient(to right, var(--container-bg-color) 80%, rgba(224, 63, 0, 0.014));
    box-shadow: 10px 10px 5px 5px rgba(0, 0, 0, 0.575);
    padding: 1rem;
}

.form-container>h2{
    position: relative;
    left:3%;
    width:40%;
    color: var(--text-base-color);
}

ul {
    list-style: none;
    display: grid;
    grid-template-columns: .5fr 1fr;
    height: 80%;
}

label{
    font-size: 1.2rem;
    font-weight: lighter;
    color: var(--text-base-color);
}

input {
    height: 1.4rem;
    font-size: 1.2rem;
    width: 225px;
    border-radius: .4rem;
    padding: 2px 4px;
    border-color: rgb(97, 27, 0);
    border-style: solid;
    outline: none;
}

input:focus {
    outline-style: ridge;
    outline-width: 1px;
    outline-color: rgb(58, 9, 0);
}

input + span {
    position: relative;
}

input:required + span:after{
    content: "Required!";
    background-color: #e4cece;
    border-color: #3f1515;
    border-style: solid;
    border-width: 2px;
    border-radius: 6px;
    position: absolute;
    top: -1.8rem;
    left: -4rem;
    font-size: .8rem; 
    box-sizing: border-box;
    padding: 1px 2px;
}

input:invalid + span:before {
    content: "❌";
    color:rgb(37, 0, 0);
    position: absolute;
    margin: 0;
    font-size: 1.5rem;
    left: 2px;
}

input:valid + span:before {
    content: "✓";
    color:rgb(185, 248, 156);
    position: absolute;
    margin: 0;
    font-size: 1.5rem;
    left: 2px;
}

form{
    box-sizing: border-box;
    margin: 0;
    padding:0;
    height:350px;
    position: relative;
    margin-top: 8%;
}

button {
    background-color: #7225258c;
    color: var(--text-base-color);
    font-size: 1.5rem;
    font-weight: bolder;
    height: 3rem;
    width: 20%;
    position:relative;
    left: 5%;
    top: 5%;
    text-align: center;
    border-color: #722525;
    border-style: solid;
    border-radius: .6rem;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    box-shadow: 2px 2px 5px 5px #a256563f;
}

button:hover{
    cursor: pointer;
}

.pass_warning{
    position: absolute;
    color: var(--text-base-color);
    left: 20%;
    bottom: -10%;
    visibility: hidden;
}

.acc-ready{
    position:relative;
    top: 12%;
    margin-left: 5%;
    color: var(--text-base-color);
}

.acc-ready>a:visited{
    color:#722525;
}